<div {% if class %}class="{{class}}"{% endif %}>
    <iframe 
    title="NBA Team Adjusted Ratings" 
    aria-label="Table" 
    id="datawrapper-chart-{{id}}" 
    src="https://datawrapper.dwcdn.net/{{id}}/{{no}}/" 
    scrolling="no" 
    frameborder="0" 
    style="width: 0; min-width: 100% !important; border: none;" 
    height="1708" 
    data-external="1">
    </iframe>
    <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
    </script>
</div>